extends ./layouts/common

block content
    h2 Add my book

    form(action="/books/add", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name" ,type="text")
        .form-group
            label(for="author") Author
            input#author.form-control(name="author" ,type="text")
        .form-group
            label(for="type") Type
            input#type.form-control(name="type" ,type="text")
        .form-group
            label(for="avatar") Image
            input#avatar.form-control(name="avatar" ,type="file")
        .form-group
            label(for="link") Link
            input#link.form-control(name="link" ,type="text")

        button.btn.btn-primary Add