extends ./layouts/common

block content

    h2 List of my books

    a.btn.btn-success(href="/books/add") Add new book

    table.table
        tr
            th Name
            th Author
            th Type
            th Image
            th Link