extends ./layouts/commons

block content
    .container
        h1 Show User
        
        div.d-flex.justify-content-center
            each user in users
                div
                    span= user.name
                    img(src=user.image)
                    a.btn.btn-primary(href='/users/' + user.id) View

        //- table.table
        //-     tr
        //-         th Name
        //-         th Image
        //-         th Actions

        //-     each user in users
        //-         tr
        //-             td= user.name
        //-             td
        //-                 img(src=user.image)
        //-             td
        //-                 a.btn.btn-primary(href='/users/' + user.id) View