extends ./layouts/commons

block content
    .container
        h1 Show User
        
        div.row
            each user in users
                .col.d-flex.flex-column.m-1.p-3
                    img(src=user.image)
                    label= user.name
                    span= user.description
                    a.btn.btn-primary(href='/users/' + user.id) View

        //- table.table
        //-     tr
        //-         th Name
        //-         th Image
        //-         th Actions

        //-     each user in users
        //-         tr
        //-             td= user.name
        //-             td
        //-                 img(src=user.image)
        //-             td
        //-                 a.btn.btn-primary(href='/users/' + user.id) View