extends ../layouts/common.pug

block content
    ul(class="nav nav-pills m-2")   
        li(class="nav-item")
            a(class="nav-link",href="/") Homepage
        li(class="nav-item")
            a(class="nav-link active",href="/users") User List
        li(class="nav-item")
            a(class="nav-link",href="/users/create") Create New User

    form(action="/users/search", method="GET")
        input(type="text", name="q", value=searchText)
        button Search

    ul
        each user in users
            li
                span= user.name
                span &nbsp;
                a(href='/users/' + user.id, class="btn btn-outline-success m-1") View