extends ../layouts/common

block content
    h2 Add new user

    form(action="/users/create", method="POST")
        .form-group
            label(for="username") Username
            input#username.form-control(name="username" ,type="text")
        .form-group
            label(for="password") Password
            input#password.form-control(name="password" ,type="password")

        button.btn.btn-primary Create