extends ../layouts/common

block content
    h2 Add my book

    form(action="/books/add", method="POST", enctype="multipart/form-data")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name" ,type="text")
        .form-group
            label(for="author") Author
            input#author.form-control(name="author" ,type="text")
        .form-group
            label(for="selectform") Select type of books
            select#selectform.form-control(name="type")
                option(value="finance") Finance
                option(value="novel") Novel
                option(value="vn") Vietnam
                option(value="skill") Skill
        .form-group
            label(for="cover") Image
            input#cover.form-control(name="cover" ,type="file")
        .form-group
            label(for="link") Link
            input#link.form-control(name="link" ,type="text")
        .form-group
            label(for="content") Content
            input#content.form-control(name="content" ,type="text")

        button.btn.btn-primary Add